<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>链接</h3>
               <ul class="menu-widget">
                   <li><a>首页</a></li>
                   <li><a>图片</a></li>
                   <li><a>点评</a></li>
               </ul>

            </div>
            
            <div class="span3">
                <h3>给我们留言</h3>

                <form id="contact" class="form-horizontal" method="post" />
                    <div class="control-group">
                        <label class="control-label" for="inputName">姓名</label>

                        <div class="controls">
                            <input type="text" id="inputName" placeholder="请输入" name="inputName" />
                            <label class="ferror" for="inputName" id="fname_error">Name is required.</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">邮箱</label>

                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="请输入" name="inputEmail" />
                            <label class="ferror" for="inputEmail" id="femail_error">Email is required.</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputMessage"></label>

                        <div class="controls">
                            <textarea rows="3" id="inputMessage" name="inputMessage"></textarea>
                            <label class="ferror" for="inputMessage" id="fmessage_error">Message is required.</label>
                        </div>
                    </div>
                    <div class="submit-div">
                        <input type="submit" class="btn pull-right footer-button" value="提交!" />
                    </div>
                </form>
            </div>
            <div class="span3">
                <h3>Address</h3>
                <address>
                    Companyname inc.<br />
                    London, Baker Street, 90210<br />
                    <i class="myicon-phone"></i>(123) 456-7890<br />
                    <i class="myicon-mail"></i>info@dxthemes.com
                </address>
            </div>
        </div>
    </div>
</footer>