<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    
    <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;" />
    <link rel="icon" href="/static/images/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png" />
    <title>sugar coffee</title>

    <!--Le Google Web Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
{% include 'files.html' %}
{% include 'nav.html' %}

<section id="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="/static/images/slides/slide3.jpg" />
            </li>
            <li>
                <img src="/static/images/slides/slide2.jpg" />
            </li>
            <li>
                <img src="/static/images/slides/slide1.jpg" />
            </li>
        </ul>
    </div>
</section>

<section id="container">
    <div class="container">
        <!--Recent Projects Block-->
        <div class="row">
            <div class="span3">
                <h3>强力推荐</h3>
                <p class="hidden-phone">
                    强力推荐本店小吃！强力推荐本店小吃！强力推荐本店小吃！强力推荐本店小吃！强力推荐本店小吃！强力推荐本店小吃！强力推荐本店小吃！
                </p>
                <a class="read-more hidden-phone" href="#">更多</a>
            </div>
            <div class="span9">
                <div class="carousel btleft" id="latest-work">
                    <div class="carousel-wrapper">
                        <ul class="da-thumbs" style="width: 1800px; display: block; margin-left: 0px;">
                            <li class="little-photo">
                                <img src="/static/example/wife.jpg" />
                                <div style="display: block;" class="da-animate da-slideFromLeft">
                                    <a data-rel="prettyPhoto" class="p-view" href="/static/example/wife.jpg" rel="prettyPhoto"></a>
                                    <a class="p-link" href="blog-single.html"></a>
                                </div>
                            </li>
                            <li class="little-photo">
                                <img src="/static/example/latest2.jpg" />
                                <div>
                                    <a data-rel="prettyPhoto" class="p-view" href="/static/example/wife.jpg" rel="prettyPhoto"></a>
                                    <a class="p-link" href="blog-single.html"></a>
                                </div>
                            </li>
                            <li class="little-photo">
                                <img src="/static/example/latest3.jpg" />
                                <div>
                                    <a data-rel="prettyPhoto" class="p-view" href="/static/example/wife.jpg" rel="prettyPhoto"></a>
                                    <a class="p-link" href="blog-single.html"></a>
                                </div>
                            </li>
                            <li class="little-photo">
                                <img src="/static/example/latest4.jpg" />
                                <div>
                                    <a data-rel="prettyPhoto" class="p-view" href="/static/example/wife.jpg" rel="prettyPhoto"></a>
                                    <a class="p-link" href="blog-single.html"></a>
                                </div>
                            </li>
                            <li class="little-photo">
                                <img src="/static/example/latest5.jpg" />
                                <div>
                                    <a data-rel="prettyPhoto" class="p-view" href="/static/example/wife.jpg" rel="prettyPhoto"></a>
                                    <a class="p-link" href="blog-single.html"></a>
                                </div>
                            </li>
                            <li class="little-photo">
                                <img src="/static/example/latest6.jpg" />
                                <div>
                                    <a data-rel="prettyPhoto" class="p-view" href="/static/example/wife.jpg" rel="prettyPhoto"></a>
                                    <a class="p-link" href="blog-single.html"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="es-nav"><span class="es-nav-prev" style="opacity: 0.5;">Previous</span><span class="es-nav-next" style="opacity: 1;">Next</span></div></div>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.flexslider').flexslider({
                            animation: "slide"
                        });
                        $('#latest-work').elastislide({
                            imageW  : 270,
                            margin  : 30
                        });
                    });
                </script>
            </div>
        </div>
        <div class="divider">
            <img alt="" src="/static/images/div-bg.jpg" />
        </div>
        <!--3 columns block-->
        <div class="row bottom30">
            <div class="span4 features-block">
                <img class="im-bottom" src="/static/images/icon1a.png" />
                <img class="im-top" src="/static/images/icon1.png" />
                <h3>良好的服务</h3>

                <p>我吃的是王府井店的，就在中国照相馆旁边，不过连锁店的品质是一样有保障哒！抹茶和花茶两个口味，都是浓浓的茶香。抹茶味的很多品牌都有，不过花茶味的只此一家。吃的时候能够看到冰淇淋中偶尔出现的茶叶渣，一看就是真的用茶叶制作的。刚好麦当劳也有过抹茶圆通，对比一下，就知道了什么叫做纯天然，什么叫做添加剂。（我真的没有要黑麦记的意思）6块钱一个如此品质的冰淇淋，也是良心价格了~~哦，地安门也有一家（地安门路口东北侧公交站附近），去的时候无意中看到了，必须再吃！</p>
                <button class="btn btn-read" type="button">read more</button>
            </div>
            <div class="span4 features-block">

                <img class="im-bottom" src="/static/images/icon2a.png" />
                <img class="im-top" src="/static/images/icon2.png" />
                <h3>优异的环境</h3>

                <p>其实很多朋友来北京都奔着东来顺涮羊肉来的 可是带您去的连东来顺总店在哪可能都不知道 那现在纠正一下 应该是在新东安市场里面~ 不过现在的东来顺可能是连锁太多了 名气太大了 买卖也就不好好做了 一个是贵 二一个搞了很多创新 没见有多好 连肉都涮不好了~ 如果想吃铜锅涮肉 北京推荐两家 一家是聚宝源儿 一家是南门儿~ 或许您有兴趣也可以取尝尝一条龙涮肉 毕竟也是老牌子</p>
                <button class="btn btn-read" type="button">read more</button>
            </div>
            <div class="span4 features-block">

                <img class="im-bottom" src="/static/images/icon3a.png" />
                <img class="im-top" src="/static/images/icon3.png" />
                <h3>市场调查</h3>
                <p>其实很多朋友来北京都奔着东来顺涮羊肉来的 可是带您去的连东来顺总店在哪可能都不知道 那现在纠正一下 应该是在新东安市场里面~ 不过现在的东来顺可能是连锁太多了 名气太大了 买卖也就不好好做了 一个是贵 二一个搞了很多创新 没见有多好 连肉都涮不好了~ 如果想吃铜锅涮肉 北京推荐两家 一家是聚宝源儿 一家是南门儿~ 或许您有兴趣也可以取尝尝一条龙涮肉 毕竟也是老牌子</p>
                <button class="btn btn-read" type="button">read more</button>
            </div>
        </div>
</div>
</section>

<!--注册 -->
<div class="modal fade" id="regiestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">用户注册</h4>
      </div>
      <div class="modal-body">
        <form id="regiest" class="form-horizontal" method="post"  role="form" action="/regiest"/>
                    <div class="control-group">
                        <label class="control-label" for="username">用户名</label>
                        <div class="controls">
                            <input type="text" id="username" placeholder="请输入用户名" name="username" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">邮箱</label>
                        <div class="controls">
                            <input type="text" id="email" placeholder="请输入" name="email" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">密码</label>
                        <div class="controls">
                            <input type="password" id="password" placeholder="请输入密码" name="password" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password2">重复密码</label>
                        <div class="controls">
                            <input type="password" id="password2" placeholder="请重复密码" name="password2" />
                        </div>
                    </div>
                    <div style="text-align:center">
                        <input type="submit" class="btn btn-primary " value="提交" />
                    </div>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


<!--登录 -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">用户登录</h4>
      </div>
      <div class="modal-body">
        <form id="login" class="form-horizontal" />
                    <div class="control-group">
                        <label class="control-label" for="usernamelogin">用户名</label>
                        <div class="controls">
                            <input type="text" id="usernamelogin" placeholder="请输入用户名" name="usernamelogin" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="passwordlogin">密码</label>
                        <div class="controls">
                            <input type="password" id="passwordlogin" placeholder="请输入密码" name="passwordlogin" />
                        </div>
                    </div>
                    <div style="text-align:center">
                        <input type="submit" class="btn btn-primary " value="提交" />
                    </div>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
<script>
    jQuery(document).ready(function($) {

       $("#regiestBtn").bind("click",regiest);
    });
    function regiest(){
        $.ajax({ 
            type: 'POST', 
            url: "/regiest", 
            data:$('form').serialize(),
            contentType: 'application/json' 
        }) 
    }
</script>

</body>
</html>