
<!DOCTYPE html>
<html>	
<head>
<title>Flate Signup And Login Form with Flat Responsive template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Transparent Organic Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="/static/css/login.css" rel='stylesheet' type='text/css' />
<!--web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--/web-fonts-->
</head>
<body>
	<h1>甜咖啡</h1>
<div class="two-forms">
	<div class="wrap">
		<div class="login">
			<div class="login-info">
				<input type="text" class="text" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}" >
				<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
				<div class="btns">
				<input type="submit" onclick="myFunction()" value="登录" ></div>
				<p><a href="#">忘记密码?<span>点击这里</span></a></p>
			</div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
		

</body>
</html>