<header id="header">
    <div class="container">
        <div class="row">
            <div class="span3 logo">

            	<p class="logotitle">sugar coffee</p>
            </div>
            <div class="span5 offset7 login-form hidden-phone">
                <form class="bs-docs-example form-inline pull-right" />
                    <input type="text" placeholder="输入用户名" class="input-small" />
                    <input type="password" placeholder="输入密码" class="input-small" />
                    <button class="btn" type="submit">登录</button>
                    <button class="btn" type="button">注册</button>
                </form></div>
        </div>
    </div>
</header>
<section id="main-menu">
    <nav class="container" id="menu">
        <ul>
            <li><a href="./index.html" class="current">首页</a></li>
            <li><a href="./about.html">小店服务</a>
                <ul>
                    <li><a href="./about.html">店内环境</a></li>
                    <li class="last"><a href="./services.html">食品</a></li>
                </ul>
            </li>
            <li><a href="./portfolio4.html">画廊</a>
                <ul>
                    <li><a href="#">小店一角</a>
                    </li>
                    <li class="last"><a href="#">食物特写</a>
                    </li>
                </ul>
            </li>
            <li><a href="./blog.html">甜咖啡</a>
                <ul>
                    <li><a href="./blog.html">心情小记</a></li>
                    <li class="last"><a href="./blog-single.html">点评</a></li>
                </ul>
            </li>
            <li><a href="./contact.html">关于我们</a></li>
        </ul>
    </nav>
</section>