
<!DOCTYPE html>
<html>	
<head>
<title>Flate Signup And Login Form with Flat Responsive template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Transparent Organic Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="/static/css/login.css" rel='stylesheet' type='text/css' />
<!--web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--/web-fonts-->
</head>
<body>
	<h1>甜咖啡</h1>
<div class="two-forms">
	<div class="wrap">
		<div class="signup">
			<div class="singup-info">
						<form>
									<div class="users">
										<table>
											<tr>
												<td style="width:40%;text-align:center">
													用户名:
												</td>
												<td style="width:60%">&nbsp;&nbsp;&nbsp;
													<input type="text" class="text" value="请输入用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入用户名';}" >
												</td>
											</tr>
										</table>
										
										<input type="text" class="text" value="请输入邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入邮箱';}" >
										<input type="password" class="password" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}" >
										<input type="password" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
									</div>
						</form>
						<div class="p-container">
											<label class="checkbox"><input type="checkbox" name="checkbox" checked><i> </i>I Agree to the terms of use</label>
								</div>
								<input type="submit" onclick="myFunction()" value="signup" >
								<div class="clear"> </div>
								<p>Have an account with us?<a href="#">Login here</a></p>
								<div class="clear"> </div>
				</div>
		</div>
		<div class="clear"> </div>
	</div>
</div>
</body>
</html>